@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

/* Generic
==================== */
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
}

a { text-decoration: none; }

button, a.button {
    font-size: 13px;
    padding: 5px 8px;
    border: 2px solid #222;
    background-color: #FFF;
    color: #222;
    transition: background 200ms ease-out;
}

button:hover, a.button:hover {
    background-color: #222;
    color: #FFF;
}

input, textarea {
    background: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    display: block;
    font-size: 18px;
    margin: 0 0 16px 0;
    padding: 8px
}

#content {
    padding-left: 25px;
    padding-right: 25px;
}
.hide {
    display: none;
}

.error {
    color: #cd0000;
    margin: 8px 0;
    display: block;
}

/* Header
==================== */
header {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #CCC;
}

header .title {
    font-weight: 900;
    padding-left: 25px;
}

header nav {
    display: inline-block;
    float: right;
    padding-right: 25px;
}

header nav a {
    margin-left: 8px;
}

header nav a:hover {
    background: #222;
    color: #FFF;
}

/* Login
==================== */
#login {
    width: 100%;
}

#login form {
    width: 300px;
    margin: 0 auto;
    padding: 25px;
}

#login form input {
    margin-bottom: 15px;
}

#login form label, #login form input {
    display: block;
}

/* Sprint Listing
=====================*/
.sprints {
    margin-top: 25px;
}

.sprints a.sprint {
    padding: 25px;
    float: left;
    text-align: center;
    background: #000;
    margin: 8px 8px 0 0;
    color: #FFF;
}

.sprints a.sprint span {
    font-size: 10px;
}

.new-sprint {
    boarder: 1px solid #CCC;
    padding: 20px;
}

/* Tasks
=============================== */
.tasks {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;

    align-items: stretch;
    overflow: scroll;
}

.tasks .status {
    background: #EEE;
    border: 1px solid #CCC;
    padding: 0 10px 15px 10px;
    margin-right: 8px;
    width: 17%;
}

.tasks .status .list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
}

.task-detail input, .task-detail textarea {
    width: 90%;
}

.tasks .task-item {
    width: 100%;
    margin: 5px 0;
    padding: 3px;
}

/* Task Detail
==================================*/
.task-detail {
    width: 100px;
    margin: 5px 0;
    background-color: #FFF;
    padding: 8px;
}

.task-detail div {
    margin-bottom: 10px;
}

.task-detail .name .task-detail .description {
    border-bottom: 1px dotted #333;
}

.task-detail .with-label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.tasks .task-item.over {
    opacity: 0.5;
    border: 1px black dotted;
}

.tasks .status.over {
    border: 1px black dotted;
}

.tasks .task-item.locked {
    opacity: 0.5;
}

[contenteditable=true]:hover {
    background: #EEE;
}

[contenteditable=true]:focus {
    background: #FFF;
}

[draggable=true] {
  cursor: move;
}
